services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    stop_grace_period: 1s
    ports:
      - "4566:4566"            
    environment:
      - SERVICES=secretsmanager
      - DEBUG=1
  anvil:
    image: ghcr.io/foundry-rs/foundry:latest
    container_name: anvil
    stop_grace_period: 1s
    ports:
      - "8545:8545"            
    command: anvil
    environment:
        ANVIL_IP_ADDR: 0.0.0.0
  postgres:
    container_name: "postgres"
    image: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
  world-id-indexer:
    image: ghcr.io/worldcoin/world-id-protocol/world-id-indexer:sha-9cdaf09
    container_name: world-id-indexer
    platform: linux/x86_64
    stop_grace_period: 1s
    depends_on:
      - "postgres"
      - "anvil"
    ports:
      - "8080:8080"            
    environment:
       RPC_URL: http://anvil:8545
       WS_URL: ws://anvil:8545
       REGISTRY_ADDRESS: ${REGISTRY_ADDRESS}
       DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
