name: Contract Tests

on:
  push:
    branches:
      - main
    tags-ignore:
      - v*
  pull_request:

env:
  FOUNDRY_PROFILE: ci

jobs:
  test:
    name: Contract Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./contracts
    steps:
      - uses: actions/checkout@v5
      - uses: foundry-rs/foundry-toolchain@v1
      - name: Install Foundry
        run: forge install
      - name: Run tests
        run: forge test -vvv
      - name: Check formatting
        run: forge fmt --check
